body {
  background: #f1f3f4;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background: black;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  color: white;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  /*background: url("../img/header-bg.png") repeat;*/
  /*background-position: center;*/
  /*background-size: contain;*/
}

.header__health, .header__money {
  position: relative;
}

.header__money {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  position: absolute;
  right: 5px;
  top: 7px;
  width: 50px;
  height: 50px;
}

.header__gold-icon {
  background: url("../img/money.png") no-repeat center;
  background-size: contain;
}

.header__health-icon {
  right: 0px;
  top: -10px;
  background: url("../img/health.png") no-repeat center;
  background-size: contain;
}

.header__gold-icon {
  right: 5px;
  top: 7px;
  background: url("../img/money.png") no-repeat center;
  background-size: contain;
}

.header__gold-value {
  margin-right: 65px;
}

.header__health-value {
  margin-right: 65px;
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("../img/grass.jpg") 100% / contain repeat;
  overflow: hidden;

  --health: 100%;
}

.road {
  position: absolute;
  background: url("../img/road.png") 100% / contain repeat;
}

.tower {
  position: absolute;
  z-index: 2;
  background: transparent;
  border: 1px dashed transparent;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.tower.bordered {
  border-color: beige;
}

.tower:hover {
  border-color: beige;
}

.tower:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #555555;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/tower.png") 100% / contain repeat;
}

.bullet {
  position: absolute;
  z-index: 3;
  width: 7px;
  height: 7px;
  background: url("../img/bullet.png") no-repeat;
  background-position: center center;
  background-size: contain;
  top: var(--bullet-start-y);
  left: var(--bullet-start-x);
}

.bullet.boom {
  background-position: -7px -5px;
  width: var(--bullet-size);
  height: var(--bullet-size);
  background: url("../img/boom.png") no-repeat;
  background-position: unset;
  background-size: unset;
  animation-name: boom;
  animation-duration: .5s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

.enemy {
  width: 33px;
  position: absolute;
  z-index: 1;
  display: inline-block;
  transition: top 0.1s ease 0s, left 0.1s ease 0s;
  animation-duration: .3s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  background: url("../img/enimes.png") no-repeat;
}

.enemy:before {
  content: '';
  position: absolute;
  width: var(--health, 100%);
  height: 2px;
  background: green;
  border-radius: 5px;
  z-index: 3;
  top: -2px;
}

.enemy:after {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 5px;
  height: 2px;
  background: #A1A1A1;
  z-index: 2;
  top: -2px;
}

.enemy.hurt:before {
  background: red;
}

.enemy.right {
  animation-name: sprite-right;
}

.enemy.left {
  animation-name: sprite-left;
}

.enemy.bottom {
  animation-name: sprite-bottom;
}

@keyframes sprite-right {
  0% {
    background-position: -96px 0;
  }
  33% {
    background-position: -63px 0;
  }
  66% {
    background-position: -33px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes sprite-left {
  0% {
    background-position: -126px 0;
  }
  33% {
    background-position: -157px 0;
  }
  66% {
    background-position: -187px 0;
  }
  100% {
    background-position: 220px 0;
  }
}

@keyframes sprite-bottom {
  0% {
    background-position: -382px 0;
  }
  50% {
    background-position: -416px 0;
  }
  100% {
    background-position: -446px 0;
  }
}

@keyframes boom {
  0% {
    background-position: -7px -5px;
  }
  6% {
    background-position: -30px -3px;
  }
  12% {
    background-position: -30px -3px;
  }
  18% {
    background-position: -79px -2px;
  }
  24% {
    background-position: -101px -1px;
  }
  30% {
    background-position: 0 -26px;
  }
  36% {
    background-position: -26px -26px;
  }
  42% {
    background-position: -51px -26px;
  }
  50% {
    background-position: -76px -25px;
  }
  55% {
    background-position: -101px -25px;
  }
  61% {
    background-position: -0px -50px;
  }
  67% {
    background-position: -26px -50px;
  }
  73% {
    background-position: -52px -50px;
  }
  79% {
    background-position: -77px -50px;
  }
  79% {
    background-position: -101px -50px;
  }
  100% {
    background-position: -1px -76px;
  }
}
