.tower, .fake-tower {
    position: absolute;
    z-index: 2;
    background: transparent;
    border: 1px dashed transparent;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.tower.bordered {
    border-color: rgba(204, 204, 204, 0.3);
}

.tower:hover {
    border-color: rgba(204, 204, 204, 0.3);
}

.tower:before, .fake-tower {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #555555;
    z-index: 3;
}

.tower.t1:before, .fake-tower.t1 {
    background: url("../img/t1.png") 100% / contain no-repeat;
    background-position: center center;
}

.tower.t2:before, .fake-tower.t2 {
    background: url("../img/t2.png") 100% / contain no-repeat;
    background-position: center center;
}

.tower.t3:before, .fake-tower.t3 {
    background: url("../img/t3.png") 100% / contain no-repeat;
    background-position: center center;
}

.tower.t4:before, .fake-tower.t4 {
    background: url("../img/t4.png") 100% / contain no-repeat;
    background-position: center center;
}

.tower.t5:before, .fake-tower.t5 {
    background: url("../img/t5.png") 100% / contain no-repeat;
    background-position: center center;
}

.tower.t6:before, .fake-tower.t6 {
    background: url("../img/t5.png") 100% / contain no-repeat;
    background-position: center center;
}

.fake-tower:before {
    z-index: 3;
}

.fake-tower:after {
    content: '';
    position: absolute;
    z-index: 3;
    width: var(--fake-tower-size);
    height: var(--fake-tower-size);
    border: 1px dashed rgba(204, 204, 204, 0.3);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
