.tower, .fake-tower {
    position: absolute;
    z-index: 2;
    background: transparent;
    border: 1px dashed transparent;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.tower.bordered {
    border-color: rgba(204, 204, 204, 0.3);
}

.tower:hover {
    border-color: rgba(204, 204, 204, 0.3);
}

.tower:before, .fake-tower {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #555555;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    z-index: 3;
    background: url("../img/tower.png") 100% / contain no-repeat;
    background-position: center center;
}

.fake-tower:before {
    z-index: 3;
}

.fake-tower:after {
    content: '';
    position: absolute;
    z-index: 3;
    width: 142px;
    height: 142px;
    border: 1px dashed rgba(204, 204, 204, 0.3);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
